<section class="banner">
  <div class="container">
    <div class="row">
      <a class="banner__content p col-12" href="{{#if isExternalLink}}{{url}}{{else}}{{url}}.html{{/if}}"
        target="{{#if isExternalLink}}_blank{{else}}_self{{/if}}">
        {{text}}
      </a>
    </div>
  </div>
</section>
